*{
margin: 0;
padding: 0;
}

.clear::after{

content: "";
display: inline-block;
clear: both;

}

.left{
float: left;

}

.right{

    float: right;
}

.mid{
width: 1320px;
margin: auto;

}

body{
    background-color: #efefef;
}

.modde{
    text-align: center;
}

/* header */
.header{

    background-color: #003a6a;
    color: #8ab5d6;

    border-top: 5px solid #fecd0b;
    border-bottom: 5px solid silver;
}
.header-con{}
.con-logo{
    width: 60%;
    margin-left: 65px;
    margin-top: 17px;
}
.con-logo img{

    float: left;
    width: 95px;
    margin-right: 15px;
}
.logo-content{
    margin-top: 30px;
}
.logo-content h4{
    color: white;
    font-size: 30px;
    font-weight: 401;
}
.logo-content p{
    color: white;
}
.con-fff{

    width: 30%;
    margin-top: 18px;
}
.con-fff input{
    width: 270px;
margin-left: 36px;
margin-top: 16px;
padding: 8px 12px;
}
.phn-no{}
.phn-no span{}
.em{

    margin-top: 8px;
margin-left: 164px;
}
.phone-number{
    margin-right: 15px;
}


.menu{

    width: 100%;
    margin-top: 120px;
}
.menu ul{

    text-decoration: none;
    background-color: #3a5d7a;
    margin-left: 59px;

    max-width: 1172px;
 
 
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
   
}
.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 9px 19px;
    font-size: 15px;
    border-right: 1px solid #474040;
    color:#91d4ff;
}
.menu ul li a:hover{
    color: white;
}

/* dropdown menu */


.menu ul li{
    position: relative;
}
.menu ul li ul{

    position: absolute;
    top: 41;
    left: -64px;
    width: 200px;
    background-color: #003a6a;
    border-top: 4px solid #fecd0b;
    opacity: 0;
    visibility: hidden;
  transition: .5s;
  transform: scaley(0);
transform-origin: top center;

}
.menu ul li ul li{
 display: inline;
}
.menu ul li ul li a{
display: block;
text-decoration: none;
padding: 9px 19px;
font-size: 15px;
border-right: 1px solid #474040;
color: #91d4ff;
border-bottom: 1px solid #676060;
}
.menu ul li ul li a:hover{

    color: white;
}

.menu ul li:hover ul{

    opacity: 1;
    visibility: visible;
    transform: scaley(1);

}


/* cover photo */
.cover img{

width: 300px;  width: 1141px;
margin-left: 61px;
border: 5px solid white;
margin-top: 37px;
height: 430px;
}


.content{

    margin-left: 60px;
    margin-top: 50px;
}
.con-right{

    width: 30%;
    background-color: white;
    margin-right: 54px;
}

.con-right h4{

    border-bottom: 3px solid #e3dfdf;
}
.con-right ms{}
.ms{


    padding: 16px;

padding-bottom: 94px;
}

.con-left{

width: 58%;
background-color: white;

}

.con-left h4{

    color: #003399;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.con-left h6{

    color: #CC0066;
    font-size: 14px;
    margin-left: 17px;
    margin-right: 17px;
    font-weight: 403;
    margin-bottom: 20px;
}

.con-left p{
    color: #0033FF;
  
    margin-left: 17px;
    margin-right: 17px;
    font-size: 17px;
    line-height: 1.6rem;
}


